In [19]:
import duckdb
con = duckdb.connect()

In [20]:
con.sql("LOAD postgres;")

In [21]:
con.sql("ATTACH 'host=localhost port=5432 dbname=postgres user=postgres password=postgres' AS postgres (TYPE postgres);")

### Populando Hub_Products

In [13]:
con.sql("""
    INSERT into postgres.silver_raw_vault.HUB_Products    
    SELECT distinct md5(cast( productid as text)) as Hash_Key_Product, productid, current_date as Dt_Load, 'kaggle-postgres' as Source FROM postgres.bronze.products
""")

In [14]:
con.sql("select * from postgres.silver_raw_vault.HUB_Products")

┌──────────────────────────────────┬────────────┬─────────────────────┬─────────────────┐
│         Hash_Key_Product         │ Product_ID │       Dt_Load       │     Source      │
│             varchar              │   int32    │      timestamp      │     varchar     │
├──────────────────────────────────┼────────────┼─────────────────────┼─────────────────┤
│ eccbc87e4b5ce2fe28308fd9f2a7baf3 │          3 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ a87ff679a2f3e71d9181a67b7542122c │          4 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ c51ce410c124a10e0db5e4b97fc2af39 │         13 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ c74d97b01eae257e44aa9d5bade97baf │         16 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 33e75ff09dd601bbe69f351039152189 │         28 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ c16a5320fa475530d9583c34fd356ef5 │         31 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 1c383cd30b7c298ab50293adfecb7b18 │         35 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 19ca14e7ea6328a42e0eb13d585e4c22 │         36 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ a5bfc9e07964f8dddeb95fc584cd965d │         37 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 67c6a1e7ce56d3d6fa748ab6d9af3fd7 │         47 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│                ·                 │          · │          ·          │        ·        │
│                ·                 │          · │          ·          │        ·        │
│                ·                 │          · │          ·          │        ·        │
│ aab3238922bcc25a6f606eb525ffdc56 │         14 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 70efdf2ec9b086079795c442636b55fb │         17 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 1f0e3dad99908345f7439f8ffabdffc4 │         19 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 3c59dc048e8850243be8079a5c74d079 │         21 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ d9d4f495e875a2e075a1a4a6e1b9770f │         46 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 2838023a778dfaecdc212708f721b788 │         51 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ d82c8d1619ad8176d665453cfb2e55f0 │         53 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 735b90b4568125ed6c3f678819b6e058 │         67 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ a3f390d88e4c41f2747bfa2f1b5f87db │         68 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 32bb90e8976aab5298d5da10fe66f21d │         72 │ 2024-04-23 00:00:00 │ kaggle-postgres │
├──────────────────────────────────┴────────────┴─────────────────────┴─────────────────┤
│ 77 rows (20 shown)                                                          4 columns │
└───────────────────────────────────────────────────────────────────────────────────────┘

### Populando Hub_Orders

In [15]:
con.sql("""
    INSERT into postgres.silver_raw_vault.HUB_Orders    
    SELECT distinct md5(cast( orderid as text)) as Hash_Key_Order, orderid, current_date as Dt_Load, 'kaggle-postgres' as Source FROM postgres.bronze.orders
""")

In [16]:
con.sql("select * from postgres.silver_raw_vault.HUB_Orders")

┌──────────────────────────────────┬──────────┬─────────────────────┬─────────────────┐
│          Hash_Key_Order          │ Order_ID │       Dt_Load       │     Source      │
│             varchar              │  int32   │      timestamp      │     varchar     │
├──────────────────────────────────┼──────────┼─────────────────────┼─────────────────┤
│ d093e56ef752adba41e5eaf26d1960a7 │    10255 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 9578a63fbe545bd82cc5bbe749636af1 │    10257 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ bd21307bad44dee908db2db5f6bf23c1 │    10258 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ da796dcc49ab9fc5ac26db17e02a9e33 │    10260 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 0247f3dd84906223785fddb18353bafe │    10262 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 9bde76f262285bb1eaeb7b40c758b53e │    10267 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ b433da1b32b5ca96c0ba7fcb9edba97d │    10268 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 995d8b30b557a46be7d27e26b689ad55 │    10273 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 6356d91dc6015575d84dc35e14ef20e3 │    10281 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ f17a33840b3e520949d36b24ebad7fb0 │    10284 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│                ·                 │      ·   │          ·          │        ·        │
│                ·                 │      ·   │          ·          │        ·        │
│                ·                 │      ·   │          ·          │        ·        │
│ 97885afd60c10c4a454c11e225763e04 │    10999 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ deb91d78cfe64ef36d96460e01234147 │    11009 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ e7fdeae58bfddf97dba9f1f67abf5921 │    11019 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ f2ece8b7033187c53bdec16c369964e7 │    11020 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 7d787bb950167c81630d2f1256eec848 │    11023 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 977f8b33d303564416bf9f4ab1c39720 │    11025 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 34c19f785e19b343fe2f54b3202f632c │    11029 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 10374578600d43dd62268569d5ebd226 │    11063 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 4fe068d05b9b1470b7ffba0732b4446f │    11067 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 840348ae33163924c1d29fd2c22faf13 │    11073 │ 2024-04-23 00:00:00 │ kaggle-postgres │
├──────────────────────────────────┴──────────┴─────────────────────┴─────────────────┤
│ 830 rows (20 shown)                                                       4 columns │
└─────────────────────────────────────────────────────────────────────────────────────┘

### Populando Hub_Employee

In [17]:
con.sql("""
        INSERT into postgres.silver_raw_vault.HUB_Employee    
        SELECT distinct md5(cast( employeeid as text)) as Hash_Key_Employee, employeeid, current_date as Dt_Load, 'kaggle-postgres' as Source FROM postgres.bronze.employees
    """)

In [18]:
con.sql("select * from postgres.silver_raw_vault.HUB_Employee")

┌──────────────────────────────────┬─────────────┬─────────────────────┬─────────────────┐
│        Hash_Key_Employee         │ Employee_ID │       Dt_Load       │     Source      │
│             varchar              │    int32    │      timestamp      │     varchar     │
├──────────────────────────────────┼─────────────┼─────────────────────┼─────────────────┤
│ eccbc87e4b5ce2fe28308fd9f2a7baf3 │           3 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ a87ff679a2f3e71d9181a67b7542122c │           4 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ c4ca4238a0b923820dcc509a6f75849b │           1 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ c81e728d9d4c2f636f067f89cc14862c │           2 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ e4da3b7fbbce2345d7772b0674a318d5 │           5 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ c9f0f895fb98ab9159f51fd0297e236d │           8 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 8f14e45fceea167a5a36dedd4bea2543 │           7 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 45c48cce2e2d7fbdea1afc51c7c6ad26 │           9 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 1679091c5a880faf6fb5e6087eb1b2dc │           6 │ 2024-04-23 00:00:00 │ kaggle-postgres │
└──────────────────────────────────┴─────────────┴─────────────────────┴─────────────────┘

### Populando Hub_Customers

In [19]:
con.sql("""
        INSERT into postgres.silver_raw_vault.HUB_Customers    
        SELECT distinct md5(customerid) as Hash_Key_Customer, customerid, current_date as Dt_Load, 'kaggle-postgres' as Source FROM postgres.bronze.customers
    """)

In [20]:
con.sql("select * from postgres.silver_raw_vault.HUB_Customers")

┌──────────────────────────────────┬─────────────┬─────────────────────┬─────────────────┐
│        Hash_Key_Customer         │ Customer_ID │       Dt_Load       │     Source      │
│             varchar              │   varchar   │      timestamp      │     varchar     │
├──────────────────────────────────┼─────────────┼─────────────────────┼─────────────────┤
│ a4069051701cbbf04d6b652be57aecd0 │ BSBEV       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 4c795085d8813144c4b5eb603660a20b │ GOURL       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 8d386e92da9982e1149c0c26dd824da7 │ LAMAI       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 10a6300d303d0e6cc06fae483f928877 │ LILAS       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 4117438a7a403b4b0c65d88d4d11bd07 │ LONEP       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 39615c775cd2af1670d2053984491948 │ MEREP       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 5314c0b3cd13cfe0429ad8547d3b88d0 │ OLDWO       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 24db64e2686cd8cdac430f10f5fe0627 │ PERIC       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ d136e043947fe78b32b9968f24b6b44a │ RICAR       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 04a85451006cfcb5eff8de2d94cd2060 │ ROMEY       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│                ·                 │   ·         │          ·          │        ·        │
│                ·                 │   ·         │          ·          │        ·        │
│                ·                 │   ·         │          ·          │        ·        │
│ 52821ffe45eac903b04d222081d07faf │ SAVEA       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 0ca5d4ed83eb1f00dfe3e91089c37f53 │ THECR       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 46cf84d32a52ef647870b5d544302306 │ WELLI       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 796db1690b71574d2f17bd964fcb8089 │ WILMK       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 3843d32087bb0e88d4a71d4822dfcf08 │ ALFKI       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 1fc4be0708e71890674496db5f627c96 │ BOLID       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 5caf4c04731af7172f9f60e662db57df │ EASTC       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ f6e45fed9728121c958ab525b3355ff9 │ LACOR       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 8881a965b5cfe34cc576de9af75acb3a │ RATTC       │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ b6ffa6b4baf2261d7015fab2dca2e8a3 │ SISBI       │ 2024-04-23 00:00:00 │ kaggle-postgres │
├──────────────────────────────────┴─────────────┴─────────────────────┴─────────────────┤
│ 94 rows (20 shown)                                                           4 columns │
└────────────────────────────────────────────────────────────────────────────────────────┘

### Populando Hub_Shippers

In [21]:
con.sql("""
        INSERT into postgres.silver_raw_vault.HUB_Shippers    
        SELECT distinct md5(cast(shipperid as text)) as Hash_Key_Shipper, shipperid, current_date as Dt_Load, 'kaggle-postgres' as Source FROM postgres.bronze.shippers
    """)

In [22]:
con.sql("select * from postgres.silver_raw_vault.HUB_Shippers")

┌──────────────────────────────────┬────────────┬─────────────────────┬─────────────────┐
│         Hash_Key_Shipper         │ Shipper_ID │       Dt_Load       │     Source      │
│             varchar              │   int32    │      timestamp      │     varchar     │
├──────────────────────────────────┼────────────┼─────────────────────┼─────────────────┤
│ eccbc87e4b5ce2fe28308fd9f2a7baf3 │          3 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ c4ca4238a0b923820dcc509a6f75849b │          1 │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ c81e728d9d4c2f636f067f89cc14862c │          2 │ 2024-04-23 00:00:00 │ kaggle-postgres │
└──────────────────────────────────┴────────────┴─────────────────────┴─────────────────┘

#### FIM HUBS

### SAT_Customers

In [23]:
con.sql("""
        INSERT into postgres.silver_raw_vault.SAT_Customer    
        SELECT md5(customerid) as Hash_Key_Customer, current_date as Dt_Load, companyname,contactname  FROM postgres.bronze.customers
    """)

In [24]:
con.sql("select * from postgres.silver_raw_vault.SAT_Customer")

┌─────────────────────────────────┬─────────────────────┬────────────────────────────────────┬─────────────────────────┐
│        Hash_Key_Customer        │       Dt_Load       │           Customer_Name            │      Contact_Name       │
│             varchar             │      timestamp      │              varchar               │         varchar         │
├─────────────────────────────────┼─────────────────────┼────────────────────────────────────┼─────────────────────────┤
│ 3843d32087bb0e88d4a71d4822dfc…  │ 2024-04-23 00:00:00 │ Alfreds Futterkiste                │ Maria Anders            │
│ 6566d378fe7b641dc480f33779c0b…  │ 2024-04-23 00:00:00 │ Ana Trujillo Emparedados y helados │ Ana Trujillo            │
│ 936a02d4ffa95853a9185c2f65dff…  │ 2024-04-23 00:00:00 │ Antonio Moreno Taquera             │ Antonio Moreno          │
│ 5af7cc596883d1058d430ba55e9ef…  │ 2024-04-23 00:00:00 │ Around the Horn                    │ Thomas Hardy            │
│ 8f02a7d7eed9a7ce2bf93793de025…  │ 2024-04-23 00:00:00 │ Centro comercial Moctezuma         │ Francisco Chang         │
│ d87fe20078f7e4a277e16c5faef6f…  │ 2024-04-23 00:00:00 │ Berglunds snabbkp                  │ Christina Berglund      │
│ 7259235dfc93163e32b405fa5f7eb…  │ 2024-04-23 00:00:00 │ Blauer See Delikatessen            │ Hanna Moos              │
│ 5194adaa40fd27448af6aa0daecda…  │ 2024-04-23 00:00:00 │ Blondesddsl pre et fils            │ Frdrique Citeaux        │
│ 1fc4be0708e71890674496db5f627…  │ 2024-04-23 00:00:00 │ Blido Comidas preparadas           │ Martn Sommer            │
│ c8ac54e3a2b5241b5d7b8a2d625b2…  │ 2024-04-23 00:00:00 │ Bon app                            │ Laurence Lebihan        │
│                ·                │          ·          │    ·                               │       ·                 │
│                ·                │          ·          │    ·                               │       ·                 │
│                ·                │          ·          │    ·                               │       ·                 │
│ f7b43c810ef47724cba4f7577b8a9…  │ 2024-04-23 00:00:00 │ Trails Head Gourmet Provisioners   │ Helvetius Nagy          │
│ 50d35b1ea8db1ee9c9838fb5f5a38…  │ 2024-04-23 00:00:00 │ Vaffeljernet                       │ Palle Ibsen             │
│ 0a2d9597a25142c8200ebbd3eff78…  │ 2024-04-23 00:00:00 │ Victuailles en stock               │ Mary Saveley            │
│ 369aacdc152e982e657b6b738ee53…  │ 2024-04-23 00:00:00 │ Vins et alcools Chevalier          │ Paul Henriot            │
│ 9c9f62399b1718ae731d164d51b99…  │ 2024-04-23 00:00:00 │ Die Wandernde Kuh                  │ Rita Mller              │
│ 532257988661044adeee476974ce2…  │ 2024-04-23 00:00:00 │ Wartian Herkku                     │ Pirkko Koskitalo        │
│ 46cf84d32a52ef647870b5d544302…  │ 2024-04-23 00:00:00 │ Wellington Importadora             │ Paula Parente           │
│ 1d25f6cd08da48e6d0bea0c836189…  │ 2024-04-23 00:00:00 │ White Clover Markets               │ Karl Jablonski          │
│ 796db1690b71574d2f17bd964fcb8…  │ 2024-04-23 00:00:00 │ Wilman Kala                        │ Matti Karttunen         │
│ dd10ef1b3ef64d796a59de43ad85e…  │ 2024-04-23 00:00:00 │ Wolski  Zajazd                     │ Zbyszek Piestrzeniewicz │
├─────────────────────────────────┴─────────────────────┴────────────────────────────────────┴─────────────────────────┤
│ 94 rows (20 shown)                                                                                         4 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

### Populando SAT_Customers_Address

In [25]:
con.sql("""
        INSERT into postgres.silver_raw_vault.SAT_Customer_Address   
        SELECT md5(customerid) as Hash_Key_Customer, current_date as Dt_Load, Address, City, Region  FROM postgres.bronze.customers
    """)

In [26]:
con.sql("select * from postgres.silver_raw_vault.SAT_Customer_Address")

┌──────────────────────────────────┬─────────────────────┬──────────────────────────────┬────────────┬─────────┐
│        Hash_Key_Customer         │       Dt_Load       │           Address            │    City    │ Region  │
│             varchar              │      timestamp      │           varchar            │  varchar   │ varchar │
├──────────────────────────────────┼─────────────────────┼──────────────────────────────┼────────────┼─────────┤
│ 3843d32087bb0e88d4a71d4822dfcf08 │ 2024-04-23 00:00:00 │ Obere Str. 57                │ Berlin     │ NULL    │
│ 6566d378fe7b641dc480f33779c0bb69 │ 2024-04-23 00:00:00 │ Avda. de la Constitucin 2222 │ Mxico D.F. │ NULL    │
│ 936a02d4ffa95853a9185c2f65dff746 │ 2024-04-23 00:00:00 │ Mataderos  2312              │ Mxico D.F. │ NULL    │
│ 5af7cc596883d1058d430ba55e9efe15 │ 2024-04-23 00:00:00 │ 120 Hanover Sq.              │ London     │ NULL    │
│ 8f02a7d7eed9a7ce2bf93793de025fba │ 2024-04-23 00:00:00 │ Sierras de Granada 9993      │ Mxico D.F. │ NULL    │
│ d87fe20078f7e4a277e16c5faef6f592 │ 2024-04-23 00:00:00 │ Berguvsvgen  8               │ Lule       │ NULL    │
│ 7259235dfc93163e32b405fa5f7ebbd4 │ 2024-04-23 00:00:00 │ Forsterstr. 57               │ Mannheim   │ NULL    │
│ 5194adaa40fd27448af6aa0daecda08c │ 2024-04-23 00:00:00 │ 24, place Klber              │ Strasbourg │ NULL    │
│ 1fc4be0708e71890674496db5f627c96 │ 2024-04-23 00:00:00 │ C/ Araquil, 67               │ Madrid     │ NULL    │
│ c8ac54e3a2b5241b5d7b8a2d625b23dd │ 2024-04-23 00:00:00 │ 12, rue des Bouchers         │ Marseille  │ NULL    │
│                ·                 │          ·          │         ·                    │    ·       │ ·       │
│                ·                 │          ·          │         ·                    │    ·       │ ·       │
│                ·                 │          ·          │         ·                    │    ·       │ ·       │
│ f7b43c810ef47724cba4f7577b8a95d2 │ 2024-04-23 00:00:00 │ 722 DaVinci Blvd.            │ Kirkland   │ WA      │
│ 50d35b1ea8db1ee9c9838fb5f5a38189 │ 2024-04-23 00:00:00 │ Smagsloget 45                │ rhus       │ NULL    │
│ 0a2d9597a25142c8200ebbd3eff78b2d │ 2024-04-23 00:00:00 │ 2, rue du Commerce           │ Lyon       │ NULL    │
│ 369aacdc152e982e657b6b738ee5360e │ 2024-04-23 00:00:00 │ 59 rue de lAbbaye            │ Reims      │ NULL    │
│ 9c9f62399b1718ae731d164d51b9992d │ 2024-04-23 00:00:00 │ Adenauerallee 900            │ Stuttgart  │ NULL    │
│ 532257988661044adeee476974ce2d7f │ 2024-04-23 00:00:00 │ Torikatu 38                  │ Oulu       │ NULL    │
│ 46cf84d32a52ef647870b5d544302306 │ 2024-04-23 00:00:00 │ Rua do Mercado, 12           │ Resende    │ SP      │
│ 1d25f6cd08da48e6d0bea0c8361896f3 │ 2024-04-23 00:00:00 │ 305 - 14th Ave. S. Suite 3B  │ Seattle    │ WA      │
│ 796db1690b71574d2f17bd964fcb8089 │ 2024-04-23 00:00:00 │ Keskuskatu 45                │ Helsinki   │ NULL    │
│ dd10ef1b3ef64d796a59de43ad85e7ed │ 2024-04-23 00:00:00 │ ul. Filtrowa 68              │ Warszawa   │ NULL    │
├──────────────────────────────────┴─────────────────────┴──────────────────────────────┴────────────┴─────────┤
│ 94 rows (20 shown)                                                                                 5 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

### Populando SAT_Employee

In [27]:
con.sql("""
        INSERT into postgres.silver_raw_vault.SAT_Employee   
        SELECT md5(cast(employeeid as text)) as Hash_Key_Employee, current_date as Dt_Load,lastname, firstname,title,birthdate,hiredate  FROM postgres.bronze.employees
    """)

In [28]:
con.sql("select * from postgres.silver_raw_vault.SAT_Employee")

┌──────────────────────┬─────────────────────┬───────────┬────────────┬──────────────────────┬────────────┬────────────┐
│  Hash_Key_Employee   │       Dt_Load       │ Last_Name │ First_Name │  Title_Of_Courtesy   │ Birth_Date │ Hire_Date  │
│       varchar        │      timestamp      │  varchar  │  varchar   │       varchar        │    date    │    date    │
├──────────────────────┼─────────────────────┼───────────┼────────────┼──────────────────────┼────────────┼────────────┤
│ c4ca4238a0b923820d…  │ 2024-04-23 00:00:00 │ Davolio   │ Nancy      │ Sales Representative │ 1948-12-08 │ 1992-05-01 │
│ c81e728d9d4c2f636f…  │ 2024-04-23 00:00:00 │ Fuller    │ Andrew     │ Vice President, Sa…  │ 1952-02-19 │ 1992-08-14 │
│ eccbc87e4b5ce2fe28…  │ 2024-04-23 00:00:00 │ Leverling │ Janet      │ Sales Representative │ 1963-08-30 │ 1992-04-01 │
│ a87ff679a2f3e71d91…  │ 2024-04-23 00:00:00 │ Peacock   │ Margaret   │ Sales Representative │ 1937-09-19 │ 1993-05-03 │
│ e4da3b7fbbce2345d7…  │ 2024-04-23 00:00:00 │ Buchanan  │ Steven     │ Sales Manager        │ 1955-03-04 │ 1993-10-17 │
│ 1679091c5a880faf6f…  │ 2024-04-23 00:00:00 │ Suyama    │ Michael    │ Sales Representative │ 1963-07-02 │ 1993-10-17 │
│ 8f14e45fceea167a5a…  │ 2024-04-23 00:00:00 │ King      │ Robert     │ Sales Representative │ 1960-05-29 │ 1994-01-02 │
│ c9f0f895fb98ab9159…  │ 2024-04-23 00:00:00 │ Callahan  │ Laura      │ Inside Sales Coord…  │ 1958-01-09 │ 1994-03-05 │
│ 45c48cce2e2d7fbdea…  │ 2024-04-23 00:00:00 │ Dodsworth │ Anne       │ Sales Representative │ 1966-01-27 │ 1994-11-15 │
└──────────────────────┴─────────────────────┴───────────┴────────────┴──────────────────────┴────────────┴────────────┘

### Populando SAT_Employee_Address

In [29]:
con.sql("""
        INSERT into postgres.silver_raw_vault.SAT_Employee_Address   
        SELECT md5(cast(employeeid as text)) as Hash_Key_Employee, current_date as Dt_Load, Address,City, Region FROM postgres.bronze.employees

    """)

In [30]:
con.sql("select * from postgres.silver_raw_vault.SAT_Employee_Address")

┌──────────────────────────────────┬─────────────────────┬───────────────────────────────┬──────────┬─────────┐
│        Hash_Key_Employee         │       Dt_Load       │            Address            │   City   │ Region  │
│             varchar              │      timestamp      │            varchar            │ varchar  │ varchar │
├──────────────────────────────────┼─────────────────────┼───────────────────────────────┼──────────┼─────────┤
│ c4ca4238a0b923820dcc509a6f75849b │ 2024-04-23 00:00:00 │ 507 - 20th Ave. E.Apt. 2A     │ Seattle  │ WA      │
│ c81e728d9d4c2f636f067f89cc14862c │ 2024-04-23 00:00:00 │ 908 W. Capital Way            │ Tacoma   │ WA      │
│ eccbc87e4b5ce2fe28308fd9f2a7baf3 │ 2024-04-23 00:00:00 │ 722 Moss Bay Blvd.            │ Kirkland │ WA      │
│ a87ff679a2f3e71d9181a67b7542122c │ 2024-04-23 00:00:00 │ 4110 Old Redmond Rd.          │ Redmond  │ WA      │
│ e4da3b7fbbce2345d7772b0674a318d5 │ 2024-04-23 00:00:00 │ 14 Garrett Hill               │ London   │ NULL    │
│ 1679091c5a880faf6fb5e6087eb1b2dc │ 2024-04-23 00:00:00 │ Coventry House Miner Rd.      │ London   │ NULL    │
│ 8f14e45fceea167a5a36dedd4bea2543 │ 2024-04-23 00:00:00 │ Edgeham Hollow Winchester Way │ London   │ NULL    │
│ c9f0f895fb98ab9159f51fd0297e236d │ 2024-04-23 00:00:00 │ 4726 - 11th Ave. N.E.         │ Seattle  │ WA      │
│ 45c48cce2e2d7fbdea1afc51c7c6ad26 │ 2024-04-23 00:00:00 │ 7 Houndstooth Rd.             │ London   │ NULL    │
└──────────────────────────────────┴─────────────────────┴───────────────────────────────┴──────────┴─────────┘

### Populando SAT_Orders

In [13]:
con.sql("""
        INSERT into postgres.silver_raw_vault.SAT_Orders  
        SELECT 
        	md5(cast(orderid as text)) as Hash_Key_Order, 
        	current_date as Dt_Load, 
            RIGHT(LEFT(orderdate,10),4)|| '-'|| RIGHT(LEFT(orderdate,5),2)|| '-'||LEFT(orderdate,2) orderdate,
        	RIGHT(LEFT(requireddate,10),4)|| '-'|| RIGHT(LEFT(requireddate,5),2)|| '-'||LEFT(requireddate,2) requireddate,
        	RIGHT(LEFT(shippeddate,10),4)|| '-'|| RIGHT(LEFT(shippeddate,5),2)|| '-'||LEFT(shippeddate,2) shippeddate
        	
        FROM postgres.bronze.orders
    """)

In [15]:
con.sql("select * from postgres.silver_raw_vault.SAT_Orders ")

┌──────────────────────────────────┬─────────────────────┬────────────┬───────────────┬──────────────┐
│          Hash_Key_Order          │       Dt_Load       │ Order_Date │ required_date │ shipped_date │
│             varchar              │      timestamp      │    date    │     date      │     date     │
├──────────────────────────────────┼─────────────────────┼────────────┼───────────────┼──────────────┤
│ cfdf55d9c4687ca7b7d9b2d2b997135f │ 2024-04-24 00:00:00 │ 2020-07-04 │ 2020-08-01    │ 2020-07-16   │
│ 28fda3e1d182e68d525267166df815af │ 2024-04-24 00:00:00 │ 2020-07-05 │ 2020-08-16    │ 2020-07-10   │
│ 183f50a7700982a3ed18ff6d7a5777bf │ 2024-04-24 00:00:00 │ 2020-07-08 │ 2020-08-05    │ 2020-07-12   │
│ 5802616ab4339506fd33d45bfde3884b │ 2024-04-24 00:00:00 │ 2020-07-08 │ 2020-08-05    │ 2020-07-15   │
│ b1da5960a28a9deb6af4e028880d625b │ 2024-04-24 00:00:00 │ 2020-07-09 │ 2020-08-06    │ 2020-07-11   │
│ 2737a91408afcc2526e348105892dd3a │ 2024-04-24 00:00:00 │ 2020-07-10 │ 2020-07-24    │ 2020-07-16   │
│ 805b74daca86ea2e20ca9c166ee52f9e │ 2024-04-24 00:00:00 │ 2020-07-11 │ 2020-08-08    │ 2020-07-23   │
│ d093e56ef752adba41e5eaf26d1960a7 │ 2024-04-24 00:00:00 │ 2020-07-12 │ 2020-08-09    │ 2020-07-15   │
│ 7463afe23eae7efe3c72737a5d3d693f │ 2024-04-24 00:00:00 │ 2020-07-15 │ 2020-08-12    │ 2020-07-17   │
│ 9578a63fbe545bd82cc5bbe749636af1 │ 2024-04-24 00:00:00 │ 2020-07-16 │ 2020-08-13    │ 2020-07-22   │
│                ·                 │          ·          │     ·      │     ·         │     ·        │
│                ·                 │          ·          │     ·      │     ·         │     ·        │
│                ·                 │          ·          │     ·      │     ·         │     ·        │
│ aa5fb316032860bad4c453c010a2c859 │ 2024-04-24 00:00:00 │ 2022-05-04 │ 2022-06-01    │ 2022-05-04   │
│ 2bc4cdc1b8653fb1a7c3213c0a9bf1bd │ 2024-04-24 00:00:00 │ 2022-05-04 │ 2022-06-01    │ 2022-05-06   │
│ 441d9b1d721e29971edc93bca39bf497 │ 2024-04-24 00:00:00 │ 2022-05-05 │ 2022-06-02    │ 2022-05-06   │
│ 7e2674f6f4343ce9f635b86d124851ce │ 2024-04-24 00:00:00 │ 2022-05-05 │ 2022-06-02    │ 2022-05-06   │
│ f51338d736f95dd42427296047067694 │ 2024-04-24 00:00:00 │ 2022-05-05 │ 2022-06-02    │ 2022-05-06   │
│ 840348ae33163924c1d29fd2c22faf13 │ 2024-04-24 00:00:00 │ 2022-05-05 │ 2022-06-02    │ 2022-05-06   │
│ daecf755df5b1d637033bb29b319c39a │ 2024-04-24 00:00:00 │ 2022-05-06 │ 2022-06-03    │ 2022-05-06   │
│ 5c528e25e1fdeaf9d8160dc24dbf4d60 │ 2024-04-24 00:00:00 │ 2022-05-06 │ 2022-06-03    │ 2022-05-06   │
│ 96b8294326cb6595573cf2689f3f6dda │ 2024-04-24 00:00:00 │ 2022-05-06 │ 2022-06-03    │ 2022-05-06   │
│ 644c87da09444b4942bef3299de94372 │ 2024-04-24 00:00:00 │ 2022-05-06 │ 2022-06-03    │ 2022-05-06   │
├──────────────────────────────────┴─────────────────────┴────────────┴───────────────┴──────────────┤
│ 830 rows (20 shown)                                                                      5 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────┘

### Populando SAT_Order_Details

In [27]:
con.sql("""
        INSERT into postgres.silver_raw_vault.SAT_Orders_Details  
        SELECT 
        	md5(cast(orderid as text) || cast(productid as text)) as Hash_Key_Link_P_O, 
        	current_date as Dt_Load, 
        	unitprice,
        	quantity,
        	discount
        FROM postgres.bronze.orderdetails
    """)

In [28]:
con.sql("select * from postgres.silver_raw_vault.SAT_Orders_Details")

┌──────────────────────────────────┬─────────────────────┬─────────────┬──────────┬──────────┐
│          Hash_Key_Order          │       Dt_Load       │ Unity_Price │ Quantity │ Discount │
│             varchar              │      timestamp      │   double    │  int32   │  double  │
├──────────────────────────────────┼─────────────────────┼─────────────┼──────────┼──────────┤
│ 7f175fbebe024d5ad754bb77f5fd0b3a │ 2024-04-24 00:00:00 │        14.0 │       12 │      0.0 │
│ bdf4e55822688bf9e29c3038b726698e │ 2024-04-24 00:00:00 │         9.8 │       10 │      0.0 │
│ cce29010ff301607f09f70d76d95041e │ 2024-04-24 00:00:00 │        34.8 │        5 │      0.0 │
│ cee360c9041a87deb7cdfcafb5e7d126 │ 2024-04-24 00:00:00 │        18.6 │        9 │      0.0 │
│ b1131dc8ff368de50fb924843754c780 │ 2024-04-24 00:00:00 │        42.4 │       40 │      0.0 │
│ 7d2123d8fa4ac5783d1b83a30ef28035 │ 2024-04-24 00:00:00 │         7.7 │       10 │      0.0 │
│ 91f55e2429b93c59fbfff663d2a99f1a │ 2024-04-24 00:00:00 │        42.4 │       35 │      0.0 │
│ 68a6285e9cb2574aebada69a4b3c50f6 │ 2024-04-24 00:00:00 │        16.8 │       15 │      0.0 │
│ 05f700f5711911767872e267b59c9000 │ 2024-04-24 00:00:00 │        16.8 │        6 │      0.0 │
│ 7d29eb964e5f45c46783c68b33f0a3fc │ 2024-04-24 00:00:00 │        15.6 │       15 │      0.0 │
│                ·                 │          ·          │          ·  │        · │       ·  │
│                ·                 │          ·          │          ·  │        · │       ·  │
│                ·                 │          ·          │          ·  │        · │       ·  │
│ 992c6b133bbdb8c7d0e2df91667fc1e4 │ 2024-04-24 00:00:00 │        9.65 │        3 │      0.0 │
│ 1165efad697e59cc2caacb076594c959 │ 2024-04-24 00:00:00 │        12.0 │        3 │      0.0 │
│ d59ba33c9934a1a148fc5aa5e1d83dc6 │ 2024-04-24 00:00:00 │         7.0 │        2 │      0.0 │
│ a9a2668fcb8bb644c4193d3726bbb771 │ 2024-04-24 00:00:00 │        24.0 │        2 │      0.0 │
│ 4897031415833bc2dcf245f861127d33 │ 2024-04-24 00:00:00 │        34.0 │        2 │      0.0 │
│ 6ace60c7af68ceb102059916f32c8298 │ 2024-04-24 00:00:00 │       33.25 │        2 │      0.0 │
│ 378a9f3555b53168892266523bf57ab4 │ 2024-04-24 00:00:00 │        17.0 │        1 │      0.0 │
│ 0f5f20b2d50c0a2a66e9d8faf2b6604e │ 2024-04-24 00:00:00 │        15.0 │        2 │      0.0 │
│ 277c5ac0fa3f2d1da5ba7e815ce3cec7 │ 2024-04-24 00:00:00 │        7.75 │        4 │      0.0 │
│ 95456c22ca763288dbaee0b69b6e8476 │ 2024-04-24 00:00:00 │        13.0 │        2 │      0.0 │
├──────────────────────────────────┴─────────────────────┴─────────────┴──────────┴──────────┤
│ 2155 rows (20 shown)                                                             5 columns │
└────────────────────────────────────────────────────────────────────────────────────────────┘

### Populando SAT_Products

In [34]:
con.sql("""
        INSERT into postgres.silver_raw_vault.SAT_Product  
        SELECT md5(cast(productid as text)) as Hash_Key_Product, 
			current_date as Dt_Load, 
			p.productname,
			c.categoryid,
			c.categoryname,
			s.supplierid,
			s.companyname 
        FROM postgres.bronze.products p
        left join postgres.bronze.categories c on p.categoryid = c.categoryid
        left join postgres.bronze.suppliers s on p.supplierid = s.supplierid 
    """)

In [35]:
con.sql("select * from postgres.silver_raw_vault.SAT_Product ")

┌──────────────────────┬─────────────────────┬───┬────────────────┬─────────────┬──────────────────────┐
│   Hash_Key_Product   │       Dt_Load       │ … │ Category_Name  │ Supplier_ID │    Supplier_Name     │
│       varchar        │      timestamp      │   │    varchar     │    int32    │       varchar        │
├──────────────────────┼─────────────────────┼───┼────────────────┼─────────────┼──────────────────────┤
│ c4ca4238a0b923820d…  │ 2024-04-23 00:00:00 │ … │ Beverages      │           1 │ Exotic Liquids       │
│ c81e728d9d4c2f636f…  │ 2024-04-23 00:00:00 │ … │ Beverages      │           1 │ Exotic Liquids       │
│ eccbc87e4b5ce2fe28…  │ 2024-04-23 00:00:00 │ … │ Condiments     │           1 │ Exotic Liquids       │
│ a87ff679a2f3e71d91…  │ 2024-04-23 00:00:00 │ … │ Condiments     │           2 │ New Orleans Cajun …  │
│ e4da3b7fbbce2345d7…  │ 2024-04-23 00:00:00 │ … │ Condiments     │           2 │ New Orleans Cajun …  │
│ 1679091c5a880faf6f…  │ 2024-04-23 00:00:00 │ … │ Condiments     │           3 │ Grandma Kelly's Ho…  │
│ 8f14e45fceea167a5a…  │ 2024-04-23 00:00:00 │ … │ Produce        │           3 │ Grandma Kelly's Ho…  │
│ c9f0f895fb98ab9159…  │ 2024-04-23 00:00:00 │ … │ Condiments     │           3 │ Grandma Kelly's Ho…  │
│ 45c48cce2e2d7fbdea…  │ 2024-04-23 00:00:00 │ … │ Meat/Poultry   │           4 │ Tokyo Traders        │
│ d3d9446802a4425975…  │ 2024-04-23 00:00:00 │ … │ Seafood        │           4 │ Tokyo Traders        │
│          ·           │          ·          │ · │    ·           │           · │       ·              │
│          ·           │          ·          │ · │    ·           │           · │       ·              │
│          ·           │          ·          │ · │    ·           │           · │       ·              │
│ a3f390d88e4c41f274…  │ 2024-04-23 00:00:00 │ … │ Confections    │           8 │ Specialty Biscuits…  │
│ 14bfa6bb14875e45bb…  │ 2024-04-23 00:00:00 │ … │ Dairy Products │          15 │ Norske Meierier      │
│ 7cbbc409ec990f19c7…  │ 2024-04-23 00:00:00 │ … │ Beverages      │           7 │ Pavlova, Ltd.        │
│ e2c420d928d4bf8ce0…  │ 2024-04-23 00:00:00 │ … │ Dairy Products │          15 │ Norske Meierier      │
│ 32bb90e8976aab5298…  │ 2024-04-23 00:00:00 │ … │ Dairy Products │          14 │ Formaggi Fortini s…  │
│ d2ddea18f00665ce86…  │ 2024-04-23 00:00:00 │ … │ Seafood        │          17 │ Svensk Sjfda AB      │
│ ad61ab143223efbc24…  │ 2024-04-23 00:00:00 │ … │ Produce        │           4 │ Tokyo Traders        │
│ d09bf41544a3365a46…  │ 2024-04-23 00:00:00 │ … │ Beverages      │          12 │ Plutzer Lebensmitt…  │
│ fbd7939d674997cdb4…  │ 2024-04-23 00:00:00 │ … │ Beverages      │          23 │ Karkki Oy            │
│ 28dd2c7955ce926456…  │ 2024-04-23 00:00:00 │ … │ Condiments     │          12 │ Plutzer Lebensmitt…  │
├──────────────────────┴─────────────────────┴───┴────────────────┴─────────────┴──────────────────────┤
│ 77 rows (20 shown)                                                               7 columns (5 shown) │
└──────────────────────────────────────────────────────────────────────────────────────────────────────┘

### Populando SAT_Shipper

In [5]:
con.sql("""
        INSERT into postgres.silver_raw_vault.SAT_Shipper  
        SELECT md5(cast(shipperid as text)) as Hash_Key_Shipper, 
			current_date as Dt_Load, 
			companyname,
			phone
        FROM postgres.bronze.shippers
    """)

In [6]:
con.sql("select * from postgres.silver_raw_vault.SAT_Shipper")

┌──────────────────────────────────┬─────────────────────┬──────────────────┬────────────────┐
│         Hash_Key_Shipper         │       Dt_Load       │   Company_Name   │     Phone      │
│             varchar              │      timestamp      │     varchar      │    varchar     │
├──────────────────────────────────┼─────────────────────┼──────────────────┼────────────────┤
│ c4ca4238a0b923820dcc509a6f75849b │ 2024-04-24 00:00:00 │ Speedy Express   │ (503) 555-9831 │
│ c81e728d9d4c2f636f067f89cc14862c │ 2024-04-24 00:00:00 │ United Package   │ (503) 555-3199 │
│ eccbc87e4b5ce2fe28308fd9f2a7baf3 │ 2024-04-24 00:00:00 │ Federal Shipping │ (503) 555-9931 │
└──────────────────────────────────┴─────────────────────┴──────────────────┴────────────────┘

#### FIM SATÉLITES

### Populando LINK_Custumers_Orders

In [37]:
con.sql("""
        INSERT into postgres.silver_raw_vault.LINK_Customers_Orders
        SELECT 
        	   md5(cast(o.orderid as text) || cast(o.customerid as text)) as "Hash_Key_Link_P_O",
        	   md5(cast(o.orderid as text)) as Hash_Key_Orders, 
        	   md5(cast(o.customerid as text)) as Hash_Key_Customers,
        	   current_date as Dt_Load,
        	   'kaggle-postgres' as Source
        FROM postgres.bronze.orders o
        inner join postgres.bronze.customers c on o.customerid = c.customerid 
    """)

In [38]:
con.sql("select * from postgres.silver_raw_vault.LINK_Customers_Orders")

┌──────────────────────┬──────────────────────┬────────────────────────────────┬─────────────────────┬─────────────────┐
│  Hash_Key_Link_C_O   │   Hash_Key_Orders    │       Hash_Key_Customer        │       Dt_Load       │     Source      │
│       varchar        │       varchar        │            varchar             │      timestamp      │     varchar     │
├──────────────────────┼──────────────────────┼────────────────────────────────┼─────────────────────┼─────────────────┤
│ ab5b727c74d99fa5d1…  │ cfdf55d9c4687ca7b7…  │ 369aacdc152e982e657b6b738ee5…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 71e16c25bd58276d8c…  │ 28fda3e1d182e68d52…  │ e337091ed542cb74f972b72f5ab8…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ f585afb96b6a5e2c9b…  │ 183f50a7700982a3ed…  │ faee608efb204ef3a9c46d4f87f4…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 1ba757f7871ab731d3…  │ b1da5960a28a9deb6a…  │ 81b2b99da6cc8443142b533de61d…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 60b98238baec242f1c…  │ 2737a91408afcc2526…  │ faee608efb204ef3a9c46d4f87f4…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 43a6a8fd3c3526ff02…  │ 805b74daca86ea2e20…  │ e28e91c6550351dc15a993924095…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 8a940c99cea7281b67…  │ d093e56ef752adba41…  │ 544586a7cd6b9390939c6ec51808…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ d7960e0bbcba70b0b3…  │ 7463afe23eae7efe3c…  │ 46cf84d32a52ef647870b5d54430…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 0068975093796cb90e…  │ 9578a63fbe545bd82c…  │ a25d7e5cf6afcd8960355dd56082…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 27f02e9db08fc89b0d…  │ bd21307bad44dee908…  │ d1d88c9adb3a4054f8296fc59e63…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│          ·           │          ·           │               ·                │          ·          │        ·        │
│          ·           │          ·           │               ·                │          ·          │        ·        │
│          ·           │          ·           │               ·                │          ·          │        ·        │
│ ac43ef6baea4007c68…  │ 0e44b9cabecbb5af04…  │ d7cdea7aa0b8420d9443ce76f1ca…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 922ada3572efc6df94…  │ 6534a8436e907efb0c…  │ 0a2d9597a25142c8200ebbd3eff7…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ c7055023173a743ad0…  │ 9e9e1b7ea4e250af8f…  │ 40adc142ad48078590db4af8c93a…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 736cce4ee606c6daff…  │ 2ffe95614e083e7091…  │ 40adc142ad48078590db4af8c93a…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ c9a199afd296a5618f…  │ 709491516820c9f43b…  │ 40adc142ad48078590db4af8c93a…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 224ff100618349c014…  │ 7ca5eb06feca2d4d20…  │ 40adc142ad48078590db4af8c93a…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ b6a095567dcfe1e7b5…  │ 218344619d8fb95d50…  │ 40adc142ad48078590db4af8c93a…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 85f9b7c0c4e1d6ebcd…  │ 520bae6649b42ff5a3…  │ 40adc142ad48078590db4af8c93a…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ ea7625ef8f123d9856…  │ 64254db8396e404d92…  │ 40adc142ad48078590db4af8c93a…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 4b6e08a3b45cdecfe5…  │ ff1f3e444a6ff6fe87…  │ 40adc142ad48078590db4af8c93a…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
├──────────────────────┴──────────────────────┴────────────────────────────────┴─────────────────────┴─────────────────┤
│ 830 rows (20 shown)                                                                                        5 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

### Populando LINK_Employees_Orders

In [39]:
con.sql("""
        INSERT into postgres.silver_raw_vault.LINK_Employee_Orders
        SELECT 
        	   md5(cast(o.orderid as text) || cast(o.employeeid as text)) as "Hash_Key_Link_P_O",
        	   md5(cast(o.orderid as text)) as Hash_Key_Orders, 
        	   md5(cast(o.employeeid as text)) as Hash_Key_Employee,
        	   current_date as Dt_Load,
        	   'kaggle-postgres' as Source
        FROM postgres.bronze.orders o
        inner join postgres.bronze.employees e on o.employeeid = e.employeeid 
    """)

In [40]:
con.sql("select * from postgres.silver_raw_vault.LINK_Employee_Orders")

┌──────────────────────┬──────────────────────┬────────────────────────────────┬─────────────────────┬─────────────────┐
│  Hash_Key_Link_E_O   │   Hash_Key_Orders    │       Hash_Key_Employee        │       Dt_Load       │     Source      │
│       varchar        │       varchar        │            varchar             │      timestamp      │     varchar     │
├──────────────────────┼──────────────────────┼────────────────────────────────┼─────────────────────┼─────────────────┤
│ 0a1595cacaa6446fb5…  │ cfdf55d9c4687ca7b7…  │ e4da3b7fbbce2345d7772b0674a3…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ f4ea93b7fcbb667a17…  │ 28fda3e1d182e68d52…  │ 1679091c5a880faf6fb5e6087eb1…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 069546d93a98077c46…  │ 183f50a7700982a3ed…  │ a87ff679a2f3e71d9181a67b7542…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ f4b365faac47ed901d…  │ 5802616ab4339506fd…  │ eccbc87e4b5ce2fe28308fd9f2a7…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 7f7e1bb4edc6692b0f…  │ b1da5960a28a9deb6a…  │ a87ff679a2f3e71d9181a67b7542…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 78257e3ded5c6a3a8c…  │ 2737a91408afcc2526…  │ eccbc87e4b5ce2fe28308fd9f2a7…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ b9754d094b6c9d34a3…  │ 805b74daca86ea2e20…  │ e4da3b7fbbce2345d7772b0674a3…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 519b02fcf268e5bb1c…  │ d093e56ef752adba41…  │ 45c48cce2e2d7fbdea1afc51c7c6…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ e63c2bb5ffd8685603…  │ 7463afe23eae7efe3c…  │ eccbc87e4b5ce2fe28308fd9f2a7…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 87c23c9f6fb6ef7067…  │ 9578a63fbe545bd82c…  │ a87ff679a2f3e71d9181a67b7542…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│          ·           │          ·           │               ·                │          ·          │        ·        │
│          ·           │          ·           │               ·                │          ·          │        ·        │
│          ·           │          ·           │               ·                │          ·          │        ·        │
│ 990905356f57edd74c…  │ aa5fb316032860bad4…  │ c9f0f895fb98ab9159f51fd0297e…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 0f54ed24f89e5c8f67…  │ 2bc4cdc1b8653fb1a7…  │ c4ca4238a0b923820dcc509a6f75…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ aa50d6506c1e1b3f03…  │ 441d9b1d721e29971e…  │ c81e728d9d4c2f636f067f89cc14…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 11ec67d74d14c70dea…  │ 7e2674f6f4343ce9f6…  │ c4ca4238a0b923820dcc509a6f75…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ b9731fa31d6cc8c9e1…  │ f51338d736f95dd424…  │ a87ff679a2f3e71d9181a67b7542…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ b8d77732dc12c2c8d4…  │ 840348ae33163924c1…  │ c81e728d9d4c2f636f067f89cc14…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 597dd91e6b177f3938…  │ daecf755df5b1d6370…  │ 8f14e45fceea167a5a36dedd4bea…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 8aa4af35007b56c912…  │ 5c528e25e1fdeaf9d8…  │ c9f0f895fb98ab9159f51fd0297e…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 977903b46ec216f94c…  │ 96b8294326cb659557…  │ a87ff679a2f3e71d9181a67b7542…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 969287516324b889f8…  │ 644c87da09444b4942…  │ c4ca4238a0b923820dcc509a6f75…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
├──────────────────────┴──────────────────────┴────────────────────────────────┴─────────────────────┴─────────────────┤
│ 830 rows (20 shown)                                                                                        5 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

### Populando LINK_Products_Orderdetails

In [41]:
con.sql("""
        INSERT into postgres.silver_raw_vault.LINK_Products_Orders_Detail
        SELECT 
        	   md5(cast(od.orderid as text) || cast(p.productid as text)) as "Hash_Key_Link_P_O",
        	   md5(cast(od.orderid as text)) as Hash_Key_Orders, 
        	   md5(cast(p.productid as text)) as Hash_Key_Product,
        	   current_date as Dt_Load,
        	   'kaggle-postgres' as Source
        
        FROM postgres.bronze.orderdetails od
        inner join postgres.bronze.orders o on od.orderid = o.orderid
        inner join postgres.bronze.products p on od.productid = p.productid 
    """)

In [42]:
con.sql("select count(*) from postgres.silver_raw_vault.LINK_Products_Orders_Detail")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│         2155 │
└──────────────┘

### Populando LINK_Shippers_Orders

In [43]:
con.sql("""
        INSERT into postgres.silver_raw_vault.LINK_Shipper_Orders
        SELECT 
        	   md5(cast(o.orderid as text) || cast(s.shipperid as text)) as "Hash_Key_Link_P_O",
        	   md5(cast(o.orderid as text)) as Hash_Key_Orders, 
        	   md5(cast(o.shipvia as text)) as Hash_Key_Shipper,
        	   current_date as Dt_Load,
        	   'kaggle-postgres' as Source
        FROM postgres.bronze.orders o
        inner join postgres.bronze.shippers s on o.shipvia = s.shipperid
    """)

In [44]:
con.sql("select * from postgres.silver_raw_vault.LINK_Shipper_Orders")

┌──────────────────────┬──────────────────────┬────────────────────────────────┬─────────────────────┬─────────────────┐
│  Hash_Key_Link_S_O   │   Hash_Key_Orders    │        Hash_Key_Shipper        │       Dt_Load       │     Source      │
│       varchar        │       varchar        │            varchar             │      timestamp      │     varchar     │
├──────────────────────┼──────────────────────┼────────────────────────────────┼─────────────────────┼─────────────────┤
│ 7fa413de7e8daaa8f5…  │ cfdf55d9c4687ca7b7…  │ eccbc87e4b5ce2fe28308fd9f2a7…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 5486bc1e779e65b225…  │ 28fda3e1d182e68d52…  │ c4ca4238a0b923820dcc509a6f75…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 347f0524a8e34f5209…  │ 183f50a7700982a3ed…  │ c81e728d9d4c2f636f067f89cc14…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ a4ddb498bc298a589a…  │ 5802616ab4339506fd…  │ c4ca4238a0b923820dcc509a6f75…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 42a27dde83690689a9…  │ b1da5960a28a9deb6a…  │ c81e728d9d4c2f636f067f89cc14…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 3c82e5302aac1dcc14…  │ 2737a91408afcc2526…  │ c81e728d9d4c2f636f067f89cc14…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ f73170e9efbd39fea6…  │ 805b74daca86ea2e20…  │ c81e728d9d4c2f636f067f89cc14…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 77d894f5604478fcd2…  │ d093e56ef752adba41…  │ eccbc87e4b5ce2fe28308fd9f2a7…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 8b892d56db93421267…  │ 7463afe23eae7efe3c…  │ c81e728d9d4c2f636f067f89cc14…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ af017f46be20ef7d72…  │ 9578a63fbe545bd82c…  │ eccbc87e4b5ce2fe28308fd9f2a7…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│          ·           │          ·           │               ·                │          ·          │        ·        │
│          ·           │          ·           │               ·                │          ·          │        ·        │
│          ·           │          ·           │               ·                │          ·          │        ·        │
│ 9656cd3c998c60faf6…  │ aa5fb316032860bad4…  │ c81e728d9d4c2f636f067f89cc14…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 95b3b353b819d2d5fd…  │ 2bc4cdc1b8653fb1a7…  │ c81e728d9d4c2f636f067f89cc14…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 120e4b609af49ff7b1…  │ 441d9b1d721e29971e…  │ c4ca4238a0b923820dcc509a6f75…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 11ec67d74d14c70dea…  │ 7e2674f6f4343ce9f6…  │ c4ca4238a0b923820dcc509a6f75…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ dbb99d5b4ab45fd7fd…  │ f51338d736f95dd424…  │ c81e728d9d4c2f636f067f89cc14…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ b8d77732dc12c2c8d4…  │ 840348ae33163924c1…  │ c81e728d9d4c2f636f067f89cc14…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ f9f3be7069c2168e6a…  │ daecf755df5b1d6370…  │ c81e728d9d4c2f636f067f89cc14…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 9261812a9faea0c28c…  │ 5c528e25e1fdeaf9d8…  │ c81e728d9d4c2f636f067f89cc14…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ 804ab678a77246d676…  │ 96b8294326cb659557…  │ c81e728d9d4c2f636f067f89cc14…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
│ aa42f8b26e820e2f64…  │ 644c87da09444b4942…  │ c81e728d9d4c2f636f067f89cc14…  │ 2024-04-23 00:00:00 │ kaggle-postgres │
├──────────────────────┴──────────────────────┴────────────────────────────────┴─────────────────────┴─────────────────┤
│ 830 rows (20 shown)                                                                                        5 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [29]:
con.close()