In [12]:
import duckdb
con = duckdb.connect()

In [13]:
con.sql("LOAD postgres;")

In [14]:
con.sql("ATTACH 'host=localhost port=5432 dbname=postgres user=postgres password=postgres' AS postgres (TYPE postgres);")

### Populando Dim_Product

In [6]:
con.sql("""
    INSERT into postgres.gold.Dim_Product   
    select 
    	distinct 
    	hp.Product_ID
    	,hp.Dt_Load as Dt_Load_Hub
    	,hp.Source 
    	,sp.Product_Name 
    	,sp.Category_ID 
    	,sp.Category_Name 
    	,sp.Supplier_ID 
    	,sp.Supplier_Name
    	,sp.Dt_Load as Dt_Load_Sat
    from postgres.silver_raw_vault.HUB_Products hp
    inner join postgres.silver_raw_vault.SAT_Product sp on hp.Hash_Key_Product = sp.Hash_Key_Product
""")

In [7]:
con.sql("select * from postgres.gold.Dim_Product")

┌────────────┬─────────────────────┬─────────────────┬───┬─────────────┬──────────────────────┬─────────────────────┐
│ Product_ID │     Dt_Load_Hub     │     Source      │ … │ Supplier_ID │    Supplier_Name     │     Dt_Load_Sat     │
│   int32    │      timestamp      │     varchar     │   │   varchar   │       varchar        │      timestamp      │
├────────────┼─────────────────────┼─────────────────┼───┼─────────────┼──────────────────────┼─────────────────────┤
│          1 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 1           │ Exotic Liquids       │ 2024-04-23 00:00:00 │
│          3 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 1           │ Exotic Liquids       │ 2024-04-23 00:00:00 │
│          7 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 3           │ Grandma Kelly's Ho…  │ 2024-04-23 00:00:00 │
│         25 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 11          │ Heli Swaren GmbH &…  │ 2024-04-23 00:00:00 │
│         32 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 14          │ Formaggi Fortini s…  │ 2024-04-23 00:00:00 │
│         33 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 15          │ Norske Meierier      │ 2024-04-23 00:00:00 │
│         38 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 18          │ Aux joyeux ecclsia…  │ 2024-04-23 00:00:00 │
│         50 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 23          │ Karkki Oy            │ 2024-04-23 00:00:00 │
│         51 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 24          │ G'day, Mate          │ 2024-04-23 00:00:00 │
│         59 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 28          │ Gai pturage          │ 2024-04-23 00:00:00 │
│          · │          ·          │        ·        │ · │ ·           │      ·               │          ·          │
│          · │          ·          │        ·        │ · │ ·           │      ·               │          ·          │
│          · │          ·          │        ·        │ · │ ·           │      ·               │          ·          │
│         11 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 5           │ Cooperativa de Que…  │ 2024-04-23 00:00:00 │
│         24 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 10          │ Refrescos American…  │ 2024-04-23 00:00:00 │
│         30 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 13          │ Nord-Ost-Fisch Han…  │ 2024-04-23 00:00:00 │
│         39 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 18          │ Aux joyeux ecclsia…  │ 2024-04-23 00:00:00 │
│         53 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 24          │ G'day, Mate          │ 2024-04-23 00:00:00 │
│         54 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 25          │ Ma Maison            │ 2024-04-23 00:00:00 │
│         57 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 26          │ Pasta Buttini s.r.l. │ 2024-04-23 00:00:00 │
│         58 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 27          │ Escargots Nouveaux   │ 2024-04-23 00:00:00 │
│         75 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 12          │ Plutzer Lebensmitt…  │ 2024-04-23 00:00:00 │
│         77 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ 12          │ Plutzer Lebensmitt…  │ 2024-04-23 00:00:00 │
├────────────┴─────────────────────┴─────────────────┴───┴─────────────┴──────────────────────┴─────────────────────┤
│ 77 rows (20 shown)                                                                            9 columns (6 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

### Populando Dim_Employee

In [15]:
con.sql("""
    INSERT into postgres.gold.Dim_Employee   
    select 
    	distinct 
    	 he.Employee_ID
    	,he.Dt_Load as Dt_Load_Hub
    	,he.Source
    	,se.First_Name ||' '|| se.Last_Name as Name
    	,se.Title_Of_Courtesy 
    	,se.Birth_Date 
    	,se.Hire_Date 
    	,sea.Address 
    	,sea.City 
    	,sea.Region 
        ,se.Dt_Load as Dt_Load_Sat_Name
        ,sea.Dt_Load as Dt_Load_Sat_Address
    from postgres.silver_raw_vault.HUB_Employee he
    inner join postgres.silver_raw_vault.SAT_Employee se on he.Hash_Key_Employee = se.Hash_Key_Employee 
    inner join postgres.silver_raw_vault.SAT_Employee_Address sea on he.Hash_Key_Employee = sea.Hash_Key_Employee
""")

In [16]:
con.sql("select * from postgres.gold.Dim_Employee")

┌─────────────┬─────────────────────┬─────────────────┬───┬─────────┬─────────────────────┬─────────────────────┐
│ Employee_ID │     Dt_Load_Hub     │     Source      │ … │ Region  │  Dt_Load_Sat_Name   │ Dt_Load_Sat_Address │
│    int32    │      timestamp      │     varchar     │   │ varchar │      timestamp      │      timestamp      │
├─────────────┼─────────────────────┼─────────────────┼───┼─────────┼─────────────────────┼─────────────────────┤
│           9 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ NULL    │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│           4 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ WA      │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│           3 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ WA      │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│           8 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ WA      │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│           1 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ WA      │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│           6 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ NULL    │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│           2 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ WA      │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│           5 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ NULL    │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│           7 │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ NULL    │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
├─────────────┴─────────────────────┴─────────────────┴───┴─────────┴─────────────────────┴─────────────────────┤
│ 9 rows                                                                                   12 columns (6 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

### Populando Dim_Customers

In [19]:
con.sql("""
    INSERT into postgres.gold.Dim_Customers  
    select distinct 
    	 hc.Customer_ID
    	 ,hc.Dt_Load as Dt_Load_Hub
    	 ,hc.Source 
    	 ,sc.Customer_Name 
    	 ,sc.Contact_Name 
    	 ,sca.Address 
    	 ,sca.City 
    	 ,sca.Region 
         ,sc.Dt_Load as Dt_Load_Sat_Name
    	 ,sca.Dt_Load as Dt_Load_Sat_Address
    from postgres.silver_raw_vault.HUB_Customers hc
    inner join postgres.silver_raw_vault.SAT_Customer sc on hc.Hash_Key_Customer = sc.Hash_Key_Customer 
    inner join postgres.silver_raw_vault.SAT_Customer_Address sca on hc.Hash_Key_Customer = sca.Hash_Key_Customer 

""")

In [20]:
con.sql("select * from postgres.gold.Dim_Customers")

┌─────────────┬─────────────────────┬─────────────────┬───┬───────────────┬─────────────────────┬─────────────────────┐
│ Customer_ID │     Dt_Load_Hub     │     Source      │ … │    Region     │  Dt_Load_Sat_Name   │ Dt_Load_Sat_Address │
│   varchar   │      timestamp      │     varchar     │   │    varchar    │      timestamp      │      timestamp      │
├─────────────┼─────────────────────┼─────────────────┼───┼───────────────┼─────────────────────┼─────────────────────┤
│ ALFKI       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ NULL          │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ BOTTM       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ BC            │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ CENTC       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ NULL          │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ FAMIA       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ SP            │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ FOLKO       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ NULL          │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ GALED       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ NULL          │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ HUNGC       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ OR            │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ ISLAT       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ Isle of Wight │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ LAZYK       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ WA            │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ OTTIK       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ NULL          │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│   ·         │          ·          │        ·        │ · │ ·             │          ·          │          ·          │
│   ·         │          ·          │        ·        │ · │ ·             │          ·          │          ·          │
│   ·         │          ·          │        ·        │ · │ ·             │          ·          │          ·          │
│ GROSR       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ DF            │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ HANAR       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ RJ            │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ HUNGO       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ Co. Cork      │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ MORGK       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ NULL          │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ QUEEN       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ SP            │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ RATTC       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ NM            │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ SPECD       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ NULL          │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ WTCMA       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ WA            │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ VICTE       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ NULL          │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
│ WILMK       │ 2024-04-23 00:00:00 │ kaggle-postgres │ … │ NULL          │ 2024-04-23 00:00:00 │ 2024-04-23 00:00:00 │
├─────────────┴─────────────────────┴─────────────────┴───┴───────────────┴─────────────────────┴─────────────────────┤
│ 94 rows (20 shown)                                                                             10 columns (6 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

### Populando Dim_Shipper

In [22]:
con.sql("""
    INSERT into postgres.gold.Dim_Shippers  
    select 
    	distinct
    	hs.Shipper_ID 
    	,hs.Dt_Load as Dt_Load_Hub
    	,hs.Source
    	,ss.Company_Name 
    	,ss.Phone 
    	,ss.Dt_Load as Dt_Load_Sat
    from postgres.silver_raw_vault.HUB_Shippers hs
    inner join postgres.silver_raw_vault.SAT_Shipper ss on hs.Hash_Key_Shipper = ss.Hash_Key_Shipper
""")

In [23]:
con.sql("select * from postgres.gold.Dim_Shippers")

┌────────────┬─────────────────────┬─────────────────┬──────────────────┬────────────────┬─────────────────────┐
│ Shipper_ID │     Dt_Load_Hub     │     Source      │   Company_Name   │     Phone      │     Dt_Load_Sat     │
│   int32    │      timestamp      │     varchar     │     varchar      │    varchar     │      timestamp      │
├────────────┼─────────────────────┼─────────────────┼──────────────────┼────────────────┼─────────────────────┤
│          3 │ 2024-04-23 00:00:00 │ kaggle-postgres │ Federal Shipping │ (503) 555-9931 │ 2024-04-24 00:00:00 │
│          1 │ 2024-04-23 00:00:00 │ kaggle-postgres │ Speedy Express   │ (503) 555-9831 │ 2024-04-24 00:00:00 │
│          2 │ 2024-04-23 00:00:00 │ kaggle-postgres │ United Package   │ (503) 555-3199 │ 2024-04-24 00:00:00 │
└────────────┴─────────────────────┴─────────────────┴──────────────────┴────────────────┴─────────────────────┘

### Populando Fato_Orders

In [33]:
con.sql("""
    INSERT into postgres.gold.Fact_Orders  
    select 
    	 b.Order_ID 
         ,strftime(so.Order_Date, '%Y%m%d') Date_ID
    	,b.Employee_ID 
    	,b.Customer_ID
    	,b.Product_ID
    	,b.Shipper_ID 
    	,so.Order_Date 
    	,so.required_date 
    	,so.shipped_date 
    	,sod.Quantity 
    	,sod.Unity_Price 
    	,sod.Discount 
    from postgres.silver_business_vault.Bridge_Store b
    inner join postgres.silver_raw_vault.SAT_Orders_Details sod on b.Hash_Key_Link_Products_Orders_Detail = sod.Hash_Key_Order_P_O 
    inner join postgres.silver_raw_vault.SAT_Orders so on b.Hash_Key_Orders = so.Hash_Key_Order 
    inner join postgres.silver_raw_vault.SAT_Product sp on b.Hash_Key_Product = sp.Hash_Key_Product 
    inner join postgres.silver_raw_vault.SAT_Customer sc on b.Hash_Key_Customer = sc.Hash_Key_Customer 
    inner join postgres.silver_raw_vault.SAT_Customer_Address sca on b.Hash_Key_Customer = sca.Hash_Key_Customer 
    inner join postgres.silver_raw_vault.SAT_Employee se on b.Hash_Key_Employee = se.Hash_Key_Employee 
    inner join postgres.silver_raw_vault.SAT_Employee_Address sea on b.Hash_Key_Employee = sea.Hash_Key_Employee 
    inner join postgres.silver_raw_vault.SAT_Shipper ss on b.Hash_Key_Shipper = ss.Hash_Key_Shipper 
""")

In [34]:
con.sql("select * from postgres.gold.Fact_Orders")

┌──────────┬──────────┬─────────────┬─────────────┬───┬─────────────────────┬──────────┬─────────────┬──────────┐
│ Order_ID │ Date_ID  │ Employee_ID │ Customer_ID │ … │    shipped_date     │ Quantity │ Unity_Price │ Discount │
│ varchar  │  int32   │    int32    │   varchar   │   │      timestamp      │  int32   │   double    │  double  │
├──────────┼──────────┼─────────────┼─────────────┼───┼─────────────────────┼──────────┼─────────────┼──────────┤
│ 10248    │ 20200704 │           5 │ VINET       │ … │ 2020-07-16 00:00:00 │       12 │        14.0 │      0.0 │
│ 10248    │ 20200704 │           5 │ VINET       │ … │ 2020-07-16 00:00:00 │       10 │         9.8 │      0.0 │
│ 10248    │ 20200704 │           5 │ VINET       │ … │ 2020-07-16 00:00:00 │        5 │        34.8 │      0.0 │
│ 10249    │ 20200705 │           6 │ TOMSP       │ … │ 2020-07-10 00:00:00 │       40 │        42.4 │      0.0 │
│ 10253    │ 20200710 │           3 │ HANAR       │ … │ 2020-07-16 00:00:00 │       20 │        10.0 │      0.0 │
│ 10253    │ 20200710 │           3 │ HANAR       │ … │ 2020-07-16 00:00:00 │       42 │        14.4 │      0.0 │
│ 10253    │ 20200710 │           3 │ HANAR       │ … │ 2020-07-16 00:00:00 │       40 │        16.0 │      0.0 │
│ 10254    │ 20200711 │           5 │ CHOPS       │ … │ 2020-07-23 00:00:00 │       15 │         3.6 │      0.0 │
│ 10254    │ 20200711 │           5 │ CHOPS       │ … │ 2020-07-23 00:00:00 │       21 │        19.2 │      0.0 │
│ 10255    │ 20200712 │           9 │ RICSU       │ … │ 2020-07-15 00:00:00 │       20 │        15.2 │      0.0 │
│   ·      │     ·    │           · │   ·         │ · │          ·          │        · │          ·  │       ·  │
│   ·      │     ·    │           · │   ·         │ · │          ·          │        · │          ·  │       ·  │
│   ·      │     ·    │           · │   ·         │ · │          ·          │        · │          ·  │       ·  │
│ 10471    │ 20210311 │           2 │ BSBEV       │ … │ 2021-03-18 00:00:00 │       30 │        24.0 │      0.0 │
│ 10471    │ 20210311 │           2 │ BSBEV       │ … │ 2021-03-18 00:00:00 │       20 │        30.4 │      0.0 │
│ 10455    │ 20210224 │           8 │ WARTH       │ … │ 2021-03-03 00:00:00 │       25 │        22.8 │      0.0 │
│ 10624    │ 20210807 │           4 │ THECR       │ … │ 2021-08-19 00:00:00 │        6 │      123.79 │      0.0 │
│ 10583    │ 20210630 │           2 │ WARTH       │ … │ 2021-07-04 00:00:00 │       10 │        36.0 │      0.0 │
│ 10633    │ 20210815 │           7 │ ERNSH       │ … │ 2021-08-18 00:00:00 │       36 │        38.0 │      0.0 │
│ 10654    │ 20210902 │           5 │ BERGS       │ … │ 2021-09-11 00:00:00 │        6 │        7.45 │      0.0 │
│ 10578    │ 20210624 │           4 │ BSBEV       │ … │ 2021-07-25 00:00:00 │       20 │        18.0 │      0.0 │
│ 11044    │ 20220423 │           4 │ WOLZA       │ … │ 2022-05-01 00:00:00 │       12 │        49.3 │      0.0 │
│ 10810    │ 20220101 │           2 │ LAUGB       │ … │ 2022-01-07 00:00:00 │        5 │        15.0 │      0.0 │
├──────────┴──────────┴─────────────┴─────────────┴───┴─────────────────────┴──────────┴─────────────┴──────────┤
│ 2155 rows (20 shown)                                                                     12 columns (8 shown) │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [35]:
con.close()